<html>
  <head>
    <title>CSRF Newbie</title>
    <link rel="stylesheet" href="/static/default.css">
  </head>
  <body class="app">
    <h1>CSRF Newbie Application</h1>
    <div class="token">csrf_token: {{ session.csrf_token }}</div>
    <hr>
    {% if session.username %}
    Hello, {{ session.username }}
    <form action="/username" method="post">
      <input type="text" name="username" placeholder="Username" autocomplete="username">
      <br>
      <button type="submit">Update</button>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    <form action="/logout" method="post">
      <button type="submit">Logout</button>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    {% else %}
    Please login.
    <form action="/login" method="post">
      <div class="error">{{ error_message or '' }}</div>
      <input type="text" name="id" placeholder="Id" autocomplete="username">
      <input type="password" name="password" placeholder="Password" autocomplete="current-password">
      <br>
      <button type="submit">Login</button>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    {% endif %}
  </body>
</html>
